.tablebooking{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tablebooking>table{
    width: 80vw;
    margin-left: 2rem;
    margin-right: 2rem;
}

.blink_me {

    animation: blinker 1s linear infinite;
  }
  .blink_me>svg{
      color:red
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }