

.container{
    
    width: 95%;
    height: 100% ;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 780px;
   

    
}
.calendar{
    margin-right: 0.5rem ;
}



.container>.display{
   display: flex;
   justify-content: center;
   
   width: 100%;
   height: 100% ;
}

@media only screen and (max-width:1400px) {
    .container>.display{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

     }

    
}

.container>.display>.zone1>.box1{
    
    margin: 1rem ;
    width: 95%;
    height: 680px;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 725px;
    
    



    
}
@media only screen and (max-width:480px) {
    
    
}
.container>.display>.zone2>.box2{
    
    
    margin: 1rem ;
    width: 95%;
    
    
    height: 680px;
    border: 1px solid black;
    border-radius: 15px;
    



    
}
.box3{

    text-align: right;
    max-height : 50% ;
    margin: 1rem;
    
    
}
.box4{
    margin: 1rem ;
    text-align: right;
    max-height : 50% ;
    
    
    
}
.button1{
    margin: 0.5rem;
    
    
    
}
.button2{
    margin: 0.5rem ;
    
}
.button3{
    margin: 0.5rem ;
    
    
    
    
}

.container>.buttonzone{
   
    display: flex;
    justify-content: center;
    margin:1rem auto;
    width: 100%;
    
    
}

.container>.buttonzone>.box4>.button1{
    
    margin: 0.5rem;
    
}
.container>.buttonzone>.box4>.button2{
    
    margin: 0.5rem;
    
}
.container>.buttonzone>.box4>.button3{
    margin-right: 8rem;
    
    
    
}

.topic{
    font-size:medium;
    margin-top: 0.5rem;
    margin-left: 1rem;
    

}


.container>.display>.zone1>.box1>.date{
    margin: 1rem auto;
    width: 100%;
  
    
    


    
}
.container>.display>.zone1>.box1>.date>.part1{
    
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part1>.side1{
    
    width: 20%;
    margin: 1rem;
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part1>.side2{
   
    width: 20%;
    margin: 1rem;
    
}

.container>.display>.zone1>.box1>.date>.part1>.side3{
    
    width: 15%;
    margin: 0.5rem;
    
    
    

    
}

.container>.display>.zone1>.box1>.date>.part2{
   
   
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part3{
    padding: 5px 20px;
    
    
     
     
     
 
     
 }
.onerem{
    margin-left:1rem;
}
.semirem{
    margin-left:0.5rem;
}

.container>.display>.zone1>.box1>.date>.part2>.side1{
    
    width: 20%;
    margin: 1rem;
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part2>.side2{
    
    width: 20%;
    margin: 1rem;
    
    
    

    
}


.container>.display>.zone1>.box1>.date>.part3>.side2{
    
    width: 20%;
    margin: 1rem;
    
    
    
    

    
}

.container>.display>.zone1>.box1>.main{
       
}

.container>.display>.zone1>.box1>.main>.research{

    width: 100%;
   
    
       
}
.container>.display>.zone1>.box1>.main>.research>.input1{
    width: 60%;
    margin: 0.5rem;
    margin-left: 1.5rem;
    
    
       
}
.container>.display>.zone1>.box1>.main>.research>.input2{
    margin-left: 1rem;
    padding: 5px 10px;
   
    
    
       
}
.container>.display>.zone1>.box1>.main>.research>.input3{
    margin-left: 1rem;
    padding: 5px 10px;
    width: 110px;
    
       
}
.container>.display>.zone1>.box1>.tablecontent{
    margin: 1rem auto;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    max-height: 24rem;
}
.container>.display>.zone2>.box2>.table{
  
    margin: 1rem;
    justify-content: center;
    align-items: center;
    max-height: 15rem;
    overflow-y: auto;
  
}
.container>.display>.zone2>.box2>.table>table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}


.container>.display>.zone1>.box1>.tablecontent>.table>.header{
   width: 100%;
   background-color: darkgray;
  
       
}
.container>.display>.zone1>.box1>.tablecontent>.table>table>.header{
    /* background-color: rgb(168, 168, 170);
    text-align: center;
    position: sticky;
    top: 0; */
    
    
       
}
.container>.display>.zone2>.box2>.table>table>.header{
    
     background-color: rgb(168, 168, 170);
    text-align: center;
    /* position: sticky;
    top: 0;  */
       
}
.container>.display>.zone1>.box1>.tablecontent>.table>table>.body{
   
    text-align: center;
    font-size: small;

       
}
.container>.display>.zone2>.box2>.table>table>.body{
    
    text-align: center;
    font-size: small;
       
}


.container>.display>.zone2>.box2>.topic1{
    margin: 1rem;
    font-size: medium;
    
        
}
.container>.display>.zone2>.box2>.display>.topic2{

   
    border: 1px solid black ;
    border-radius: 15px;
    margin: 0.5rem ;
    text-align: center;
    
    width: 400px;
    height: 120px;
}
.container>.display>.zone2>.box2>.display>.topic3{
    margin: 0.5rem ;
    
    border: 1px solid black ;
    border-radius: 15px;
    text-align: center;
    
    width: 350px;
    height: 120px;
}
.container>.display>.zone2>.box2>.display{
    
    display: flex;
    justify-content: center;
    
}
.container>.display>.zone2>.box2>.display>.topic2>.text1{
  
    margin-top: 1rem;
    margin-left: 5rem;
   
}
.container>.display>.zone2>.box2>.display>.topic2>.text2{
    
    margin-top: 1rem;
    margin-left: 5rem;
   
}
.container>.display>.zone2>.box2>.display>.topic2>.input{
    
    margin-top: 1rem;
    margin-left: 1rem;
   
   
}
.container>.display>.zone2>.box2>.display>.topic2>.input>.input1{
    
    
   width: 38%;
   
   
}
.container>.display>.zone2>.box2>.display>.topic2>.input>.input2{
    margin-left: 1rem;
    
    width: 38%;
    
    
 }

 .container>.display>.zone2>.box2>.display>.topic2>.input>.input3{
    
    margin-left: 1.2rem;
    width: 38%;
    
    
 }
 .rightrem{
     margin-right: 1rem;
 }



 .container>.display>.zone2>.box2>.display>.topic3>.text1{
    
    margin-top: 1rem;
    margin: 3rem;
    
   
}
.container>.display>.zone2>.box2>.display>.topic3>.text2{
    
    margin-top: 1rem;
    margin: 2rem;
   
}
.container>.display>.zone2>.box2>.display>.topic3>.input>.input1{
    
    
    width: 45%;
    
    
 }
 .container>.display>.zone2>.box2>.display>.topic3>.input>.input2{
     margin-left: 1rem;
     
     width: 42%;
     
     
  }
  .container>.display>.zone2>.box2>.display>.topic3>.input{
    
    margin-top: 1rem;
    margin-left: 1rem;
   
   
}
.container>.display>.zone2>.box2>.topic4{

    text-align: center;
    
    margin: 1rem auto;
    width: 100%;
    height: 10%;
    
}
.container>.display>.zone2>.box2>.topic4>.text1{
    
    margin-top: 1rem;
    margin-left:5rem;
   
}
.container>.display>.zone2>.box2>.topic4>.text2{
    
    margin-top: 1rem;
    margin-left: 5rem;
   
}

.container>.display>.zone2>.box2>.topic4>.text3{
    
    margin-top: 1rem;
    margin-left: 4rem;
   
}
.container>.display>.zone2>.box2>.topic4>.input>.input1{
    
    margin-left: 1rem;
    width: 15%;
    
    
 }
 .container>.display>.zone2>.box2>.topic4>.input>.input2{
    
    margin-left: 1rem;
    width: 15%;
    
    
 }
 .container>.display>.zone2>.box2>.topic4>.input>.input3{
    
    margin-left: 1rem;
    width: 15%;
    
    
 }
 .container>.display>.zone2>.box2>.topic4>.input>.text4{
    
    margin-left: 1rem;
    width: 15%;
    
    
 }
 .container>.display>.zone2>.box2>.button>.button1{
    
  
    margin-left: 1rem;
    margin-top: 1rem;
    height: 3rem;
    margin-right: auto;
       
}
.container>.display>.zone2>.box2>.button>.button2{
    
    height: 40px;
    margin: 1rem;
    margin-right: 30%;
    
    
    
       
}
.container>.display>.zone2>.box2>.button>.lastresult{
    
    
   
    text-align: right;
}
.container>.display>.zone2>.box2>.button{
    justify-content: right;
    display: flex;
   
}
.head{
   margin-top: 0.5rem;
   margin-right: 2rem;
}
    
    
    
       