

.container{
    max-width: 100%;
    width: 1840px;
    max-height: 100% ;
    height: 810px;
    
    margin: 2rem;
    overflow :hidden;
}



}
.container>.display{
   display: flex;
   flex-wrap: wrap;
}

.container>.display>.zone1>.box1{
    
    margin: 1rem;
    max-width: 100%;
    width: 700px;
    max-height: 100%;
    height: 680px;
    border: 1px solid black;
    



    
}
.container>.display>.zone2>.box2{
    
    
    margin: 1rem;
    max-width: 100%;
    max-height: 100%;
    height: 680px;
    width: 1050px;
    border: 1px solid black;
    



    
}
.container>.buttonzone>.box3{
    
    margin-left: 1rem;
    max-width : 50% ;
    width: 700px;
    max-height : 50% ;
    height: 80px;
    
}
.container>.buttonzone>.box3>.button1{
    margin: 1rem;
    
    
}
.container>.buttonzone>.box3>.button2{
    margin-left: 270px;
    
    
}
.container>.buttonzone>.box3>.button3{
    margin-left:1rem;
    
    
    
}
.container>.buttonzone>.box4{
    
    margin-left: 2rem;
    max-width : 100% ;
    width: 1050px;
    max-height : 50% ;
    height: 80px;
    text-align: right;
    
}
.container>.buttonzone{
    display: flex;
    
}

.container>.buttonzone>.box4>.button1{
    margin: 1rem;
    
    
}
.container>.buttonzone>.box4>.button2{
    margin-left: 1px;
    
    
}
.container>.buttonzone>.box4>.button3{
    margin-left:1rem;
    margin-right: 1rem;
    
    
    
    
}

.topic{
    font-size:medium;
    margin-top: 0.5rem;
    margin-left: 1rem;
    

}


.container>.display>.zone1>.box1>.date{
    padding: 1rem;
    
    


    
}
.container>.display>.zone1>.box1>.date>.part1>.side1{
    width: 150px;
    margin-right: 1rem;
    margin-left: 1rem;
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part1>.side2{
    width: 150px;
    margin-right: 1rem;
    margin-left: 1rem;
    
}

.container>.display>.zone1>.box1>.date>.part1>.side3{
    width: 60px;
    margin-right: 1rem;
    margin-left: 1rem;
    
    
    

    
}

.container>.display>.zone1>.box1>.date>.part2{
   margin-top: 0.5rem;
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part3{
    margin-top: 0.5rem;
     
     
     
 
     
 }
.onerem{
    margin-left:1rem;
}
.semirem{
    margin-left:0.5rem;
}

.container>.display>.zone1>.box1>.date>.part2>.side1{
    width: 150px;
    margin-right: 1rem;
    margin-left: 0.4rem;
    
    
    

    
}
.container>.display>.zone1>.box1>.date>.part2>.side2{
    width: 150px;
    margin-right: 1rem;
    margin-left: 1rem;
    
    
    

    
}

.container>.display>.zone1>.box1>.date>.part2>.side3{
    width: 60px;
    margin-right: 1rem;
    margin-left: 1rem;
    
    
    

    
}


.card>.cardbody>.table>.header{
    margin-top:5rem;
    border-collapse: collapse;
    font-size: 1rem;
    width: 100% ;
    height: 40px;
    text-align: center;
    background-color:rgb(185, 183, 183);
}
.card>.cardbody>.table>.body{
    border-collapse: collapse;
    font-size: 0.8rem;
    width: 100%;
    height: 40px;
    text-align: center;
    overflow:hidden;
}
.container>.display>.zone1>.box1>.date>.part3>.side2{
    width: 150px;
    margin-right: 1rem;
    
    
    
    

    
}

.container>.display>.zone1>.box1>.main{
       
}

.container>.display>.zone1>.box1>.main>.research{
    margin-left: 1rem;
    
       
}
.container>.display>.zone1>.box1>.main>.research>.input1{
    width: 520px;
    
       
}
.container>.display>.zone1>.box1>.main>.research>.input2{
    margin-left: 1rem;
    padding: 5px 10px;
    
       
}
.container>.display>.zone1>.box1>.main>.research>.input3{
    margin-left: 1rem;
    padding: 5px 10px;
    
       
}
.container>.display>.zone1>.box1>.table{
    margin: 1rem;
    width: 660px;
    border-collapse: collapse;
    
       
}
.container>.display>.zone2>.box2>.table{
    margin: 1rem;
    width: 1010px;
    border-collapse: collapse;
    
       
}

.container>.display>.zone1>.box1>.table>.header{
    margin: 1rem;
    width: 660px;
    background-color: rgb(168, 168, 170);
    text-align: center;
    
       
}
.container>.display>.zone2>.box2>.table>.header{
    margin: 1rem;
    width: 660px;
    background-color: rgb(168, 168, 170);
    text-align: center;
    
       
}
.container>.display>.zone1>.box1>.table>.body{
    margin: 1rem;
    text-align: center;
    font-size: small;
       
}
.container>.display>.zone2>.box2>.table>.body{
    margin: 1rem;
    text-align: center;
    font-size: small;
       
}
.container>.display>.zone2>.box2>.topic1{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: medium;
        
}
.container>.display>.zone2>.box2>.display>.topic2{

    
    border: 1px solid black ;
    margin-top: 1rem;
    margin-left: 7rem;
    width: 400px;
    height: 120px;
}
.container>.display>.zone2>.box2>.display>.topic3{
    
    border: 1px solid black ;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 350px;
    height: 120px;
}
.container>.display>.zone2>.box2>.display{
    
    display: flex;
}
.container>.display>.zone2>.box2>.display>.topic2>.text1{
    
    margin-top: 1rem;
    margin-left: 7rem;
   
}
.container>.display>.zone2>.box2>.display>.topic2>.text2{
    
    margin-top: 1rem;
    margin-left: 6rem;
   
}
.container>.display>.zone2>.box2>.display>.topic2>.input{
    
    margin-top: 1rem;
    margin-left: 1rem;
   
   
}
.container>.display>.zone2>.box2>.display>.topic2>.input>.input1{
    
 
   width: 140px;
   
   
}
.container>.display>.zone2>.box2>.display>.topic2>.input>.input2{
    margin-left: 1rem;
    
    width: 140px;
    
    
 }

 .container>.display>.zone2>.box2>.display>.topic2>.input>.input3{
    
    margin-left: 1.2rem;
    width: 140px;
    
    
 }
 .rightrem{
     margin-right: 1rem;
 }



 .container>.display>.zone2>.box2>.display>.topic3>.text1{
    
    margin-top: 1rem;
    margin-left: 5rem;
   
}
.container>.display>.zone2>.box2>.display>.topic3>.text2{
    
    margin-top: 1rem;
    margin-left: 6rem;
   
}
.container>.display>.zone2>.box2>.display>.topic3>.input>.input1{
    
 
    width: 140px;
    
    
 }
 .container>.display>.zone2>.box2>.display>.topic3>.input>.input2{
     margin-left: 1rem;
     
     width: 140px;
     
     
  }
  .container>.display>.zone2>.box2>.display>.topic3>.input{
    
    margin-top: 1rem;
    margin-left: 1rem;
   
   
}
.container>.display>.zone2>.box2>.topic4{

    
    
    margin-top: 1rem;
    margin-left: 7rem;
    width: 600px;
    height: 80px;
}
.container>.display>.zone2>.box2>.topic4>.text1{
    
    margin-top: 1rem;
    margin-left:8rem;
   
}
.container>.display>.zone2>.box2>.topic4>.text2{
    
    margin-top: 1rem;
    margin-left: 7rem;
   
}

.container>.display>.zone2>.box2>.topic4>.text3{
    
    margin-top: 1rem;
    margin-left: 6rem;
   
}
.container>.display>.zone2>.box2>.topic4>.input>.input1{
    
    margin-left: 1rem;
    width: 140px;
    
    
 }
 .container>.display>.zone2>.box2>.topic4>.input>.input2{
    
    margin-left: 1rem;
    width: 140px;
    
    
 }
 .container>.display>.zone2>.box2>.topic4>.input>.input3{
    
    margin-left: 1rem;
    width: 140px;
    
    
 }
 .container>.display>.zone2>.box2>.topic4>.input>.text4{
    
    margin-left: 1rem;
    width: 140px;
    
    
 }
 .container>.display>.zone2>.box2>.button>.button1{
    
   margin-left: 1rem;
   height: 40px;
    
       
}
.container>.display>.zone2>.box2>.button>.button2{
    margin-left: 1rem;
    height: 40px;
    
    
    
       
}
.container>.display>.zone2>.box2>.button>.lastresult{
    margin-left: 400px;
    width: 520px;
    height: 100px;
   
    text-align: right;
}
.container>.display>.zone2>.box2>.button{
    
    display: flex;
}
.head{
   margin-top: 0.5rem;
   margin-right: 5rem;
}
    
    
    
       