

.container{
    max-width: 95%;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 700px;
}


.container>.main{
    max-width: 95%;
    background-color: rgb(255, 255, 255);
    margin: 1rem auto;
    
    
    border-radius: 20px;
}
.container>.main>.header{
    max-width: 100%;
    margin: 5px auto;
    padding: 20px;
    border-radius: 20px;
    
    
}
@media screen and (max-width:1124px) {
    .footertext{
        font-size: 1rem;
    }
    .headertext{
        font-size: 1.5rem;
    }
    .headerfilter{
        font-size: 0.9rem;
    }
    .button{
        width: 100px;
        height: 40px;
    }
    
}
.container>.main>.header>.headerselect{
    width:30%;
    min-width: 200px;
    height: 20px;
    font-size: medium;
}

.container>.main>.header>.headerfilter{
    width: 110px;
    height: 25px;
    margin: 1rem;
    font-size: medium;
    text-align: center;
}
.container>.main>.header>.headerall{
    width: 5%;
    min-width: 60px;
    height: 25px;
    margin: 1rem auto;
    font-size: medium;
    background: none;
    transition: 0.3s;
    border-radius: 8px;
}
.container>.main>.header>.headerall:hover{
    transform: scale(1.1);
    box-shadow: 2px -2px 10px 0 rgba(31, 204, 89, 0.5),-2px 2px 10px 0 rgba(10, 143, 81, 0.5);
    cursor: pointer;
}

.container>.main>.header>.headerdefault{
    width: 5%;
    min-width: 60px;
    height: 25px;
    margin: 1rem ;
    font-size: medium;
    background: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
   
    
    
    
}

.container>.main>.header>.headerdefault:hover{
    transform: scale(1.1);
    box-shadow: 2px -2px 10px 0 rgba(31, 204, 89, 0.5),-2px 2px 10px 0 rgba(10, 143, 81, 0.5);
    cursor: pointer;
}


@media only screen and (max-width:1400px) {
    .container>.main>.table>.tablestyles>.thead{
        width: 100%;
        position: sticky;
        top: 0;
        background-color: rgb(255, 0, 0);
        font-size: small;
        
        
    }
    .container>.main>.table>.tablestyles>.tbody{
        
        
        
        table-layout: fixed;
        max-height: 5px;
        overflow-y: auto;
        font-size: small;
        
        
        
    }

    
}

.container>.main>.table{
    max-width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    margin: 5px auto;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    
    
    border: 1px solid black;
}
.container>.main>.table>.tablestyles{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
    
    
}

.container>.main>.table>.tablestyles>.thead{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: darkgray;
    
    
    
}
.container>.main>.table>.tablestyles>.tbody{
    
    
    
    table-layout: fixed;
    max-height: 5px;
    overflow-y: auto;
    
    
    
    
}
.container>.main>.buttonzone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}
.container>.main>.buttonzone>.button{
    margin: 1rem ;
    padding: 0.5rem;

    font-size: 15px;
    border-radius: 10px;
    transition: 0.3s;
    
    
    
    
}
.container>.main>.buttonzone>.button:hover{
    transform: scale(1.1);
    box-shadow: 2px -2px 10px 0 rgba(31, 204, 89, 0.5),-2px 2px 10px 0 rgba(10, 143, 81, 0.5);
    cursor: pointer;
}

.container>.main>.buttonzone>.buttonDelete{
    margin: 1rem ;
    width: 6%;
    min-width: 80px;
    height:40px;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.3s;
    
    
    
    
}
.container>.main>.buttonzone>.buttonDelete:hover{
    transform: scale(1.1);
    box-shadow: 2px -2px 10px 0 rgba(31, 204, 89, 0.5),-2px 2px 10px 0 rgba(10, 143, 81, 0.5);
    cursor: pointer;
}










.container>.main>.footer{
    max-width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.container>.main>.footer>.footertext{
    align-items: center;
    width: 50%;
    
}
.container>.main>.footer>.footertext>.highlight{
    color: red;
    
}