

.red{
    color: red;
}
.main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    ;
    
}

.zone1>.bigbox{
    flex: 1 1 40%;
    margin: 1.5rem;
}


.main>.zone1{
    flex-basis:45%;
    min-width: 700px;
    height:50%;
    margin: 2rem;
    overflow :hidden;
}
.main>.zone2{
    flex-basis:45%;
    min-width: 700px;
    height:50%;
    margin: 2rem;
    
}

.main>.zone1>.formtableInvoice{
    display: flex;
    justify-content: center;
    flex: 1 1 100vW;
}

.main>.zone1>.formtableInvoice>.card{   
    width: 100%; 
    border: 1px solid black;
    border-radius: 10px;

    padding: 1rem;
    margin: auto;

    justify-content: center;
    padding: 0.5rem;
    min-width: 50%;
    
}





.main>.zone2>.formdetailsInvoice{
    display: flex;
    justify-content: center;
    flex: 1 1 100vW;
}

.main>.zone2>.formdetailsInvoice>.card{
    width: 100%;   
    border: 1px solid black;
    border-radius: 10px;

    padding: 1rem;
    margin: auto;
    justify-content: center;
    padding: 0.5rem;
    min-width: 500px;
}


#statusbill{
    margin-left: 1rem;


}





.card>.cardheader{
    flex-basis: 100%;
    background-color: darkgray;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
}
.card>.cardbody{
    flex-basis: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: medium;
}
.card>.cardbody>.row{
    flex-basis: 100%;
    margin-top:1rem;
    margin-bottom: 0.5rem;
}


.card>.cardbody>.zonetable{
    max-height: 14rem;
    overflow-y: auto;
}
.card>.cardbody>.zonetable>.table{

}
.box{
    width: 100%;
    height: 305px;
    overflow: auto;
    
}
.box2{
    margin-top: 1rem;
    width: 100%;
    height: 150px;
    overflow: auto;
    
}
.card>.cardbody>.box2>.table{
    width: 100%;
    font-size: medium;
    border-collapse: collapse;
    overflow: auto;
}

.card>.cardbody>.box>.table{
    width: 100%;

    font-size: medium;
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
}

.Building{
    margin-left:1rem;
    margin-top:1rem;
    
}
.spaceonerem{
    margin-left: 0.5rem;
    width: 20%;

}



.card>.cardbody>.zonetable>.table>.header{
    margin-top:5rem;
}

.card>.cardbody>.box>.table>.header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: darkgray;
}
.card>.cardbody>.box>.table>.body{

    font-size: 1rem;
    width: 100%;
    height: 40px;
    text-align: center;
    
}

.card>.cardbody>.box2>.table>.header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: darkgray;
}
.card>.cardbody>.box2>.table>.body{


    font-size: 1rem;
    width: 100%;
    height: 40px;
    text-align: center;

    overflow-y: auto;
}
.card>.cardbody>.zonetable>.table>.body>tr>td>input[name="price"],
.card>.cardbody>.zonetable>.table>.body>tr>td>input[name="name"]
{
    text-align: center;
    justify-content: center;
    width: 5rem;
}
.card>.cardbody>.zonetable>.table>.body>tr>td>input[name="number_item"]{
    text-align: center;
    justify-content: center;
    width: 3rem;
}



.button{
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px 10px;
    font-size: 1;
    position: relative;
    display: flex;

}

.button2{
    
    margin-left: 1rem;
    
    
    
    
    
}
.button2 >.button3{
    font-size: 0.8rem;
    text-align: center;


}
.button2 >.icon{
    
    padding: 0.5px 0.5px;
    
   
}
.button4{
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px 10px;


}
.press{
    margin-left: 1rem;
    padding: 10px 10px;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}


.text{
    margin-left: 1rem;
    padding: 40px 50px;
    
    


}
.card>.cardbody>.header{
    font-size: 1.5rem;
    font-weight: 900;
    
}
.result{
    font-size: 1;
    margin-left:    1rem;
    text-align: right;
}
  
.menu{
    display: flex;
    justify-content: right;
}
.menu>button[name="editmode"],
.menu>button[name="savereceiptinformation"]
{
    display: flex;
    align-items: center;
    margin: 0.25rem;
     padding: 0.5rem;
    justify-content: right; 
}

.main>.buttonstyles{

    
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    padding: 20px 20px;
    margin-right: 5rem;
    margin-left: 5rem;
    min-width: 400px;
}
@media only screen and (max-width:1500px) {
    .main>.buttonstyles{
    
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        padding: 20px 20px;
        margin-right: 5rem;
        margin-left: 1rem;
        min-width: 400px;
    }
    }

.main>.buttonstyles>.createbutton{
    margin-right: 1rem;
}
.main>.buttonstyles>.cancelbutton{
    margin-right:25%;
}
.main>.buttonstyles>.editbutton{
    margin-right: 1rem;
}
.main>.buttonstyles>.savebutton{
    margin-right: 1rem;
}

.main>.buttonstyles>.cancelbutton2{
    margin-right: 1rem;
}

@media only screen and (max-width:900px) {
    .main>.buttonstyles>.cancelbutton{
        margin-right: 5rem;
    }
        
        
        
        
    
    }

    


.calendar{
    margin-left: 1rem ;
}
