.container{
    
    max-width: 95%;
    background: rgb(245, 248, 248);
    margin: 20px auto;
    padding: 20px;
    border: 1px solixd black;
    border-radius: 20px;
    
    
}

.container>.imgbox{
    display: grid;
    place-items: center;
    text-align: center;
    min-width: 200px;
    width: 30%;
    height: 300px;
    border: 2px dashed rgb(148, 147, 147);
    border-radius: 10px;
    margin: 1rem auto;
    
    
    

}
.container>.save{
    display: flex;
    justify-content: center;
   
    
    
    
}

.container>.header{
    font-size: 2rem;
    font-style:initial;
    
    
    

}
.container>.inputbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    margin: 1rem auto;
    width: 100%;
    height: 300px;
   
    
}
@media only screen and (max-width:480px) {
    .container>.inputbox{
        
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
            
    }
    .container>.header{
        font-size: 1.5rem;
        font-style:initial;
        
        
        
        
    
    }

    
}



.container>.imgbox>.content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.container>.imgbox>.content>.icon{
    height: 100%;
    
    
    
}
.container>.imgbox>.content>.icon>.icon1{
    background-color: black;
    height: 10rem;
    
    
}
.container>.imgbox>.content>.icon>.icon1>.icon3{
    width: 100%;
    height: 100%;
    
    
    
    
    
    
}
.container>.imgbox>.content>.icon>.icon1>.icon2{
    
    font-size: 8rem;
    
}
@media only screen and (max-width:480px) {
    .container>.imgbox>.content>.icon>.icon1>.icon2{
    
        font-size: 5rem;
        
    }
    
}

.container>.uploadbox{
    margin: 1rem auto;
   
    width: 80%;
    height: 50%;
}
.container>.uploadbox>.upload1{
    margin: 1rem auto;
    min-width: 140px;
    width: 30%;
    height: 30px;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    border:10%;
    border-radius: 25px;
    cursor: pointer;

    }
.container>.uploadbox>.upload{
    margin: 1rem auto;
    display: block;
    font-size: 16px;
    width: 30%;
    min-width: 150px;
    outline: none; 
    box-shadow: 2px 2px 10px black; 
    border-radius: 25px;
    }
 ::-webkit-file-upload-button{
     border: none;
     padding: 5px;
     border-radius: 25px;
     cursor: pointer;
     box-shadow: 2px 2px 10px black; 
 }
.container>.save>.savestyle{
    width: 5%;
    min-width: 100px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px black; 
    padding: 5px;
    margin: 0.2rem auto;
    transition: 0.3s;
    
        
        
        
}
.saveDisabled{
    width: 5%;
    min-width: 100px;
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px black; 
    padding: 5px;
    margin: 0.2rem auto;
    

}
.container>.save>.savestyle:hover{
    transform:scale(1.1) ;
    box-shadow: 10px -10px 25px 0 rgba(158, 233, 188, 0.5),-10px 10px 25px 0 rgba(47, 129, 88, 0.5);
   
    
        
        
        
}
.error{
    color: red;
}

.container>.inputbox>.inputstyle{
    margin: 0.5rem auto;
    display: flex;
    width: 100%;
    height: 50%;
    
}
.container>.inputbox>.inputstyle>.text{
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
   
    
}

.container>.inputbox>.inputstyle>.input{
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    height: 20px;
    
}



.containernumber{
    max-width: 95%;
    background: rgb(162, 241, 208);
    margin: 20px auto;
    padding: 20px;
    border: 1px solixd black;
    border-radius: 20px;

}
.containernumber>.inputbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 1rem auto;
    width: 90%;
    height: 100%;
    
   
}
.containernumber>.inputbox>.inputstyle{
    margin: 0.5rem auto;
    display: flex;
    width: 100%;
    height: 50%;
    
}
.containernumber>.inputbox>.inputstyle>.deleteOne{
    
    margin: 0.7rem;
    cursor: pointer;
    height: 30px;
}
.containernumber>.inputbox>.inputstyle>.text{
   
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
}
.containernumber>.inputbox>.inputstyle>.input{
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    height: 20px;
    
}
.containernumber>.inputbox>.inputstyle>.billDate{
    margin: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    height: 25px;
    
}
.containernumber>.inputbox>.inputstyle>.billEnd{
    margin: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    height: 25px;
    
}
.containernumber>.header{
    font-size: 2rem;
    font-style:initial;
    
    
    

}
.billDate{
    margin: 1rem;
    margin-top: 0.5rem;
    min-width: 160px;
    height: 25px;
    
}
.containernumber>.save{
    display: flex;
    justify-content: center;
   
    
    
    
}
.containernumber>.save>.savestyle{
    width: 5%;
    min-width: 100px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px black; 
    padding: 5px;
    margin: 0.2rem auto;
    transition: 0.3s;
    
        
        
        
}

.containernumber>.save>.savestyle:hover{
    
    box-shadow: 10px -10px 25px 0 rgba(180, 185, 182, 0.5),-10px 10px 25px 0 rgba(185, 201, 193, 0.5);
    transform:scale(1.1) ;
    
        
        
        
}

@media only screen and (max-width:480px) {
    .containernumber>.inputbox{
        
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
            
    }
    .containernumber>.header{
        font-size: 1.5rem;
        font-style:initial;
        
        
        
        
    
    }

    
}


.containerDialog{
    width:500px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    padding: 10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 198, 218);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.containerDialog>.titleClose{
 display: flex;
 justify-content: flex-end;
}
.containerDialog>.titleClose>.close{
   
    background-color: rgb(198, 198, 218);
    color: crimson;
    cursor: pointer;
    font-size: larger;
    border: none;
   }
   .containerDialog>.titleClose>.close:hover{
    box-shadow: 0px 5px 15px;
    border-radius: 40px;
   }

  

.containerDialog>.body{
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    
   }
   .containerDialog>.footer{
       text-align: center;
      
   }

   .containerDialog>.footer>.confirm{
    width: 80px;
    height: 40px;
    margin: 10px;
    margin-left: 40px;
    border: none;
    cursor: pointer;
    background-color: royalblue;
    border-radius: 10px;
   }
   .containerDialog>.footer>.confirm{
    width: 80px;
    height: 40px;
    margin: 10px;
    margin-left: 40px;
    border: none;
    cursor: pointer;
    background-color: royalblue;
    border-radius: 10px;
    transition: 0.3s;
   }


   .containerDialog>.footer>.confirm:hover{
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0 rgba(57, 168, 202, 0.5),-10px 10px 25px 0 rgba(34, 138, 223, 0.5);
    cursor: pointer;
    
   
   }
   .containerDialog>.footer>.cancel{
    width: 80px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: crimson;
    border-radius: 10px;
    transition: 0.3s;
   }
   .containerDialog>.footer>.cancel:hover{
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0 rgba(224, 83, 83, 0.5),-10px 10px 25px 0 rgba(228, 133, 133, 0.5);
    cursor: pointer;
   }
  
.span{
    margin: 1rem;
    color: red;
    height: 20px;
    display: none;
}


input:invalid ~ .span{
    display: block;
}

input:invalid[focused = "true"]{
    border: 1px solid red;
}


