
.container{
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
}

.container>.mainbox>.buttonstyles{
    text-align: right;
    padding: 10px 10px;
    min-width: 500px;
    display: none;

    
}
.container>.mainbox>.buttonstyles>.buttonsave{
  width:50px; 
  margin: 1rem;
}
.container>.mainbox>.buttonstyles>.buttoncancel{
    width:50px;
    margin: 1rem;
}


.container>.mainbox>.headerstyles{
    padding: 10px 10px;
    min-width: 200px;

   
}
.container>.mainbox>.headerstyles>.header{
    font-size: 1.6rem;
    
}
.container>.mainbox>.headerstyles>.subheader{
    padding: 10px 10px;
    min-width: 500px;
    display: flex;
    
    
}

.container>.mainbox>.headerstyles>.subheader>.selectstyles{
    height: 30px;
    width: 8%;
    margin: 1rem;
    min-width: 80px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    
}
.container>.mainbox>.headerstyles>.subheader>.inputstyles{
    width: 20%;
    height: 25px;
    margin: 1rem;
    margin-left: 0;
    
    
}
.container>.mainbox>.headerstyles>.subheader>.filterstyles{
    height: 30px;
    margin: 1rem;
    width: 8%;
    min-width: 80px;
    border: 1px solid  ;
    background: none;
    border-radius: 10px;
    transition: 0.3s;
    
    
}
.container>.mainbox>.headerstyles>.subheader>.filterstyles:hover{
    transform: scale(1.1);
    box-shadow: 2px -2px 10px 0 rgba(50, 192, 69, 0.5),-2px 2px 10px 0 rgba(10, 143, 81, 0.5);
    cursor: pointer;
    
    
}

.container>.mainbox>.table{
    max-width: 100%;
    padding: 10px 10px;
    height: 500px;
    overflow: auto;
    
    
    
}
.CheckButton{
    
    height: 5%;
    width: 28%;
    min-width: 40px;
    margin: 0.2rem;
    border-radius: 20px;
    cursor: pointer;
    background:#fff;
    border: 1px solid;
    transition: 0.2s;
    
}
.CheckButton:hover{
    color: rgb(18, 187, 18);  
    
}
.ClearButton{
    
    border: 1px solid;
    height: 5%;
    width: 28%;
    min-width: 40px;
    margin: 0.2rem;
    border-radius: 20px;
    cursor: pointer;
    background:#fff;
    transition: 0.2s;
    
    
    
}
.ClearButton:hover{
    color: red;  
}

.container>.mainbox>.table>.tablestyles{
    border-collapse: collapse;
    width: 100%;
    
    height: 10%;
    
    min-width: 500px;
    
    
}
.container>.mainbox>.table>.tablestyles>.header{
    font-size: 1rem;
    background-color: rgb(4, 170, 110);
    position: sticky;
    top: 0;
    
}
.container>.mainbox>.table>.tablestyles>.body{
    font-size: 0.8rem;
    height: 10px;
    
    
}
@media  screen and (max-width:1000px) {
    .InputDate{
        width: 80%;

    }
    
}
.cancelButton{

    cursor: pointer;
    background-color: #fff;
    border-radius:50px;
    transition: 0.3s;
    
    
    
}
.cancelButton:hover{

    transform: scale(1.1);
    color: red;
    
    
    
    
    
}


