.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
    border: 1px solid black;
}
.main>.header{
    display: flex;
    margin: 1em;
    width: 100%;
    justify-content: center;
}
.main>.header>lable {
    font-size: xx-large;
    color: #04AA6D;
}