.optionright{
   
    float: right;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
    justify-content: center;
    display: flex;

    font-size: 0.8rem;
}
.optionright>.red{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: red;
    border-radius: 5px;
}
.optionright>.cornflowerblue{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.optionright>.gray{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: gray;
    border-radius: 5px;

}
.optionright>.green{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: green;
    border-radius: 5px;

}
.optionright>.yellow{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: yellow;
    border-radius: 5px;

}
.optionright>.orange{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: orange;
    border-radius: 5px;

}
.menu_right{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu_right>.db_status >div{
    display: flex;
    margin: ;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and (max-width: 680px) {
    .menu>.menu_right>.db_status{
    
      display: none;
    }
}

a>button{
   height: 100%;
}

.logout{
    margin-left: 0.5rem;
}

.container{
    text-align: center;

}
.md{
    border: 1px solid black;
    margin: 0.2rem;
    background-color: azure;
    border-radius: 5px;

}
.md:hover{
    background-color: rgb(203, 252, 252);

}
@media screen and (max-width: 991px) {
    .md{
        border: none;
        margin: 0;
        background-color: #f8f9fa;
    }
}

.dropdownReport{
    margin: 0.5rem;
    height:90px;
}
.dropdownSetting{
    margin-right: 0.5rem;
    height:90px;
}
@media screen and (max-width: 1670px) {
    .dropdownReport{
        margin: 0.5rem;
        height:140px;
    }
    .dropdownSetting{
        margin-right: 0.5rem;
        height:140px;
    }
}
@media screen and (max-width: 991px) {
    .dropdownReport{
        margin-left: 0;
        height:40px;
    }
    .dropdownSetting{
        height:40px;
    }
}