.menu{
    display: flex;
    

    background-color: #ddd;
    padding: 0.5em;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);

    
}
.menu>.logo{
    width: 10vw;
    text-align: center;
   
}
.menu>div{
    display: flex;

}
.menu>.menu_right{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.menu>.menu_right>.db_status{
    
    flex-flow: column wrap
}
.menu>.menu_right>.db_status >div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .menu>.menu_right>.db_status{
    
      display: none;
    }
}




.menu>div>div{
    display: flex;
    align-items: center;
    height: 100%;
 }

.menu>div>a>button{
   height: 100%;
}

.menu>div>.logout{
    margin-left: 0.5rem;
}