
.menu{
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.optionright{
   
    float: right;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
    justify-content: center;
    display: flex;

    font-size: 0.8rem;
}
.optionright>.red{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: red;
    border-radius: 5px;
}
.optionright>.cornflowerblue{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.optionright>.gray{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: gray;
    border-radius: 5px;

}
.optionright>.green{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: green;
    border-radius: 5px;

}
.optionright>.yellow{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: yellow;
    border-radius: 5px;

}
.optionright>.orange{
    width: 2rem;
    height: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: orange;
    border-radius: 5px;

}
.menu_right{
    display: flex;
    margin-left: auto;
    align-items: center;
    min-width: 450px;
}

.menu_right>.db_status >div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


a>button{
   height: 50%;
}

.logout{
    margin-left: 0.5rem;
}


.container{
    max-height: 100px;
    text-align: center;

}
.md{
    max-height: 100px;
    border: 1px solid black;
    margin: 0.2rem;
    background-color: azure;
    border-radius: 5px;
    font-size: 0.9rem;

}
.md_receipt{
    max-height: 100px;
    border: 1px solid black;
    margin: 0.2rem;
    background-color: azure;
    border-radius: 5px;
    font-size: 0.9rem;

}

@media screen and (max-width:1499px) {
    .md_receipt{
        width: 90px;
    
    }
    
}
@media screen and (max-width:1499px) {
    .md{
        
        margin: 0.1rem;
        
    
    }
    
}
.md:hover{
    background-color: rgb(203, 252, 252);

}
@media screen and (max-width: 991px) {
    .md{
        margin: 0;
        background-color: #f8faf8;
    }
    .md:hover{
        background-color: rgb(203, 252, 252);
    
    }
}

.dropdownReport{
    margin: 0.5rem;
    max-height: 100px;
    max-width: 1500px;
    height:90px;
    font-size: 0.9rem;
}
.dropdownSetting{
    max-width: 1500px;
    max-height: 100px;
    margin-right: 0.5rem;
    height:90px;
    font-size: 0.9rem;
    margin-right: 1rem;
}
@media screen and (max-width:1597px) {

    .dropdownSetting{
    height:100px;
    margin: 0.1rem;
    
}
    .dropdownReport{
        height:100px;
        margin: 0.1rem;
        
        
    }
}
@media screen and (max-width: 1670px) {
    .optionright{
        display: grid;
        grid-gap: 0.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0.5rem auto;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    
    .menu>.menu_right>.db_status{
        display: none;
      }
}

@media screen and (max-width: 991px) {
    .dropdownReport{
        height:40px;
        margin-left: 0;
    }
    .dropdownSetting{
        height:40px;
        margin-left: 0;
    }
    .none{
        display: none;
    }
    .db_status{
        display: none;
    }
}
@media screen and (max-width:1400px) {
    .container{
        max-height: none;
    }
    
    
}
@media screen and (max-width: 1499px) {
    .menu_right{
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {
    .optionright{
        display: grid;
        grid-gap: 0.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0.5rem auto;
    }
}

@media screen and (max-width: 500px) {
    .optionright{
        display: grid;
        grid-gap: 0.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0.5rem auto;
    }
}

