.zone1{
    width: 100vw;

    display: flex;
    flex-wrap: wrap;


}
.zone1>.bigbox{
    flex: 1 1 40%;
    /* max-width: 45vw; */
    margin: 0.5rem;
}
.zone2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:  100vw;

}
.zone2>.formcontact{
    display: flex;
    justify-content: center;
    flex: 1 1 100vW;
}
.zone2>.formcontact>.card{
    flex-basis: 80%;    
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
    justify-content: center;
}
.zone2>.formcontact>.card>.cardheader{
    flex-basis: 100%;
    background-color: darkgray;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
}
.zone2>.formcontact>.card>.cardbody{
    flex-basis: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: medium;
}
.zone2>.formcontact>.card>.cardbody>.row{
    margin-top: 1rem;
    display: flex;
    flex-basis: 100%;
    margin-bottom: 1rem;
}
.zone2>.formcontact>.card>.cardbody>.row>.label{
    flex-basis: 40%;
}
.zone2>.formcontact>.card>.cardbody>.row>.input{
    flex-basis: 60%;
}

.zone2>.formcontact>.card>.cardbody>.rowmenu{
    display: flex;
    flex-basis: 100%;
}
.zone2>.formcontact>.card>.cardbody>.rowmenu>button{
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    display: flex;
    align-items: center;
}

.formroom>.body>.rowmenu>button{
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    display: flex;
    align-items: center;
}






.formroom{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.formroom>.header{
    flex-basis: 100%;
    background-color: darkgray;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
}
.formroom>.body{
    padding-left: 2rem;
}
.formroom>.body>.row{
    display: flex;
    flex-basis: 100%;
}
.formroom>.body>.rowmenu{
    display: flex;
    flex-basis: 100%;
}
.formroom>.body>.row>.label{
    flex-basis: 40%;
}
.formroom>.body>.row>.input{
    flex-basis: 60%;
}

.formroom>.body>.rowmenu>button{
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    display: flex;
    align-items: center;
}




.rowtable{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.tableroommember{
    text-align: center;
    justify-content: center;
    margin-top:2rem;
    margin-bottom: 1rem;
}


.tableroomselect{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.headertable{
    flex-basis: 100%;
    justify-content: center;
    display:  flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
   
}
.headertable>.text{
    font-size: xx-large;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}
.headertable>.input{
    flex-basis: 100%;
    display: flex;
    text-align: center;
}
.headertable>.input>.zonetextbox{
    flex-basis: 60%;
}

.headertable>.input>.zonetextbox>input{
    width: auto;
    font-size: x-large;
    margin-left: 2rem;
    margin-right: 2rem;
}

.headertable>.input>.zonebtn{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
}
.headertable>.input>.zonebtn>select{
    font-size: x-large;
    
}
.headertable>.input>.zonebtn>button{
    font-size: x-large;
    
}
.bodytable{
    flex-basis: 100%;
    justify-content: center;
    display:  flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
   
}
.bodytable>table{
    flex-basis: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}
